@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');



*{padding :0;margin:0; box-sizing:border-box;
    font-family: 'Poppins', sans-serif;  
}

body{
    background-color: #9fbbf0;
    
}

canvas.particles-js-canvas-el{
    position:absolute;
    height:100% !important;
    width:100%;
    top:600px;
    right:0;
    left:0;
    right:0;
    z-index:-1000;
    margin:0;
}


header{
    width : 100%;
    height: 100vh;
    background-image:linear-gradient(90deg, rgba(25 ,42,86,1),rgba(47,54,64,0.2)) ,url("utilities/me.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}


#home{
    width: 50%;
    height: 100vh;
    background-color:transparent;
    display:flex;
    flex-direction:column;
    padding : 20px 30px;

}


.logo{
    font-size:3em;
    color: white;
    letter-spacing:5px;
    font-family: 'Kaushan Script', cursive;
text-shadow: #192a56;
color:white;
font-weight: 800;
font-size:xx-large;
    
    padding-top: 5px;
}


.menu a{
    text-decoration:none;
    color:white;
    display:block;
    padding: 10px 20px;
    margin: 10px auto;
    font-size:20px;
    font-family: verdana ,Verdana, Geneva, Tahoma, sans-serif;
    transition:0.5s ease;
    
}


.menu{
    padding-top: 35px;

}
.menu a:first-child{
    background-color:#192a56;

}

.menu a:hover{background-color:#192a56;
}


.menu i{
    margin:0 20px;
}


.s_icon{
    position:absolute;
    bottom:8%;
}


.s_icon i{
    color:white;
    font-size: 20px;
    margin:0px 10px;
    padding:10px;
    border-radius:50%;
    cursor:pointer;
    box-shadow: 2px 1px 3px grey;
    transition:0.5s ease;
}

.s_icon i:nth-child(1){
    background-color: #3b5998;

}
.s_icon i:nth-child(2){
    background-color: #e84393;
    
}
.s_icon i:nth-child(3){
    background-color: #128c7e;
    
}

.s_icon i:hover{
   transform: translateY(-20px);
}


.main{
    display:flex;
    padding: 20px 20px;
    margin: 100px auto;
    margin-left: 120px;
    margin-right:120px;
    justify-content: flex-end;
    align-items: center;
    gap:50px;
}

.content{
    font-family: 'Poppins', sans-serif; 
    font-weight:500;
    font-size:small;
}

.extra{
    color:#192a56;
    font-weight: bold;
}

.hello{
    font-family: 'Kaushan Script', cursive;
text-shadow: #192a56;
color: #e84393;
font-weight: 800;
}


.skills_h{
    font-family: 'Poppins', sans-serif;
    color:#192a56;
    font-weight: bold;
}


#skills{
    padding:100px 0px;
    background-color: #c9d5ec;
    
}

.skills_left{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}

 hr{
    border:0.5px solid ;
    width:6rem
}


.each_skills{
    margin: 25px 0px;

}

 .each_skills span{
    color: white !important;
    font-size: 17px;
    font-weight:600;
}

.each_skills .progress{
    border-radius:100px;
    margin-top:3px;
    height:10px;
}


#work .container .row h1 {
    font-family: 'Poppins', sans-serif;
    color:#192a56;
    font-weight: bold;
    margin-top: 100px;
    padding-bottom:30px;    
}

#work .container .row span{
    
        font-family: 'Kaushan Script', cursive;
    text-shadow: #192a56;
    color: #e84393;
    font-weight: 800;
    font-size:xx-large;
    
    
}

#work .nav-tabs{
    border:none;
    width:30%;
    text-align:center;
}

#work .nav-tabs .nav-link.active{
    border:none;
    color:white;
    border-bottom: 2px solid #e84393 !important;
    background: transparent;
}

#work .nav-tabs .nav-link.active:hover{
    border-bottom: 2px solid #e84393;
}

#work .nav-tabs .nav-item .nav-link{
    font-weight:400;
    font-size:50px;
    background:transparent;
}

#work .nav-tabs .nav-link:hover{
    border:none;
}






.project_content{
    display:flex;
    padding:30px 0;
    flex-wrap:wrap;
  
    gap:40px;
}



.blogs_content{
    display:flex;
    padding:30px 0;
    flex-wrap:wrap;
    gap:40px;
}



#experience{
    width : 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding:100px 0px 100px 0px; 

}
.experience_h{
    margin-bottom:50px;
}
.experiencet{
    padding-bottom:80px;
}

.timeline{
    flex:0 0 100%;
    max-width: 100%;
    position:relative;
    
}

.timeline .timeline_item{
    flex: 0 0 100%;
    max-width:100%;
    padding: 0 15px;
    
    
}

.timeline:before{
    content:'';
    width:1px;
    height:100%;
    left:50%;
    top:0;
    background-color:black;
    background-color: ;
    position:absolute;
}



.timeline .timeline_item:nth-child(odd){
    padding-right: calc( 50% + 50px);
    text-align:right;
}

.timeline .timeline_item:nth-child(even){
    padding-left: calc( 50% + 50px);
}

.timeline .timeline_item_inner{
    padding: 30px;
    border-radius: 5px;
    position: relative;
    box-shadow:0.5px 0.5px 0.5px 0.5px rgb(136, 131, 131);

}

.timeline .timeline_item_inner .icon{
    height:40px;
    width:40px;
    text-align: center;
    border:1px black;
    background-color:#c9d5ec;
    line-height:40px;
    border-radius:50%;
    font-size: 16px;
    color:#fa80bb;
    position:absolute;
    top:18px;
    padding: 20 20 20 20;
}

.timeline .timeline_item:nth-child(odd) .icon{
    right:-70px;
}

.timeline .timeline_item:nth-child(even) .icon{
    left:-70px;
}











