*{padding :0;margin:0; box-sizing:border-box;

}
header{
    width : 100%;
    height: 100vh;
    background-image:linear-gradient(90deg, rgba(25 ,42,86,1),rgba(47,54,64,0.2)) ,url("utilities/me.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

nav{
    width: 50%;
    height: 100vh;
    background-color:transparent;
    display:flex;
    flex-direction:column;
    padding : 20px 30px;

}

.logo{
    font-size:3em;
    color: white;
    letter-spacing:5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
}

.menu a{
    text-decoration:none;
    color:white;
    display:block;
    padding: 10px 20px;
    margin: 20px auto;
    font-size:20px;
    font-family: verdana ,Verdana, Geneva, Tahoma, sans-serif;
    transition:0.5s ease;
    
}

.menu{
    padding-top: 35px;

}
.menu a:first-child{
    background-color:#192a56;

}

.menu a:hover{background-color:#192a56;
}


.menu i{
    margin:0 20px;
}

.s_icon{
    position:absolute;
    bottom:8%;
}

.s_icon i{
    color:white;
    font-size: 20px;
    margin:0px 10px;
    padding:10px;
    border-radius:50%;
    cursor:pointer;
    box-shadow: 2px 1px 3px grey;
    transition:0.5s ease;
}

.s_icon i:nth-child(1){
    background-color: #3b5998;

}
.s_icon i:nth-child(2){
    background-color: #e84393;
    
}
.s_icon i:nth-child(3){
    background-color: #128c7e;
    
}

.s_icon i:hover{
   transform: translateY(-20px);
}
.about {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./assets/bg5.jpg");
    background-size: cover;
    background-color: #cccccc;;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about p {
    font-family: 'Akaya Kanadaka', cursive;
    color: white;
    width: 60%;
    margin: 0 auto;
    font-size: x-large;
    letter-spacing: 1px;
}

.about a{
    color: lemonchiffon;
    font-style:normal;
}


.timeline {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./assets/bg5.jpg");
    background-size: cover;
    background-color: #cccccc;;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carrier{
    height: 600px;
    width: 30%;
    border-radius: 10px;
}
.work {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./assets/bg2.jpg");
    background-size: cover;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.work h2 {
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Goblin One', cursive;
    background-color:rgba(255, 255, 255,0.3);
    border-radius: 4px;
}

.projects {
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.sub-projects{
        margin: 25px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem;
}

.project-card {
    position: relative;
    width: 10rem;
    height: 12rem;
    text-align: center;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}

.project-card:hover {
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
}

.project-card img{
    width: 100%;
    height: 100%;
}

.project-card h3{
    font-size: 1.2rem;
    margin: 10px;
    color: white;
}


#linkofcon{
    color:white;
    border: 0;
}

.contact {
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 20px;
    position: relative;
    width: 100%;
    background-image: url(./assets/bg6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.contact h2, .contact p {
    color: white;
    text-align: center;
    margin: 0;
}

.contact form {
    width: 50%;
    color: white;
}

.contact input {
    width: 100%;
}

#option {
    width: 4%;
}

#feedback-input {
    width: 100%;
}





.links {
    display: flex;
    flex-direction: row;
}

.links a {
    margin: 0 10px;
    padding: 3px;
    width: 110px;
    color: white;
}



@media screen and (max-width:664px) { 
    .flex1{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .tribute{
        text-align: center;
        height:10rem;
        width:35%;
        border-radius: 50%;
        margin-right:0;
        float:none;
    }
    .calculator{
        text-align: center;
        height:10rem;
        width:35%;
        border-radius: 50%;
        margin-right:0;
        float:none;
    }
    .product{
        text-align: center;
        height:10rem;
        width:35%;
        border-radius: 50%;
        margin-right:0;
        float:none;
    }
    .qg{
        text-align: center;
        height:10rem;
        width:35%;
        border-radius: 50%;
        margin-right:0;
        float:none;
    }
    .todo{
        text-align: center;
        height:10rem;
        width:35%;
        border-radius: 50%;
        margin-right:0;
        float:none;
    }
    .project-card{
        text-align: center;
        height:10rem;
        width:35%;
        border-radius: 50%;
        margin-right:0;
        float:none;
    }

}

@media(max-width:1200px){
    nav{
        justify-content:space-evenly;
    }
    .homepage h1{
        font-size:62px;
        font-weight: 800;
    }
    .homepage h2{
        font-weight: 700;
        color: #e27985;
    }
    .about p{
        font-size: xx-large;
        width:80%;
    }
    .project-card h3{
        font-size: 1.5rem;
    }
    .survey{
        font-size: 27px;
        letter-spacing: 3.5px;
    }
    .contact{
        height: 25vh;
        font-size: 27px;
    }
    .work{
        height: 80vh;
    }
    #carrier{
        height: 1000px;
        width: 70%;
    }
    .timeline p{
        width: 80%;
        font-size: 75px;
    }
}
